// bower:scss
// endbower

$screen-sm-min: 768px;
$screen-md-min: 992px;

$blue: #5671b2;
$blue-lighter: #5672b3;
$green: #528152;
$red: #bd3121;
$red-lighter: lighten($red, 20%);
$foam: #c0dfb1;
$orange: #e0933f;
$gray-lighter: #eee;

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/slick.eot');
    src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}

*, :after, :before {
  box-sizing: border-box;
}

body {
  background-color: $gray-lighter;
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
  margin: 0;
}

a {
  text-decoration: underline;
  color: $red;
  transition: color 0.2s ease;

  &:hover {
    color: $red-lighter;
  }
}

p {
  line-height: 1.8;
}

.h1,
.h2,
.h3,
.h4 {
  font-weight: 300;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.contact-links {
  margin: 10px 0;
}

.contact-link {
  margin-right: 6px;
  text-decoration: none;
}

.contact-link__svg {
  fill: $red;
  height: 32px;
  transition: fill 0.2s ease;
  width: 32px;

  &:hover {
    fill: $red-lighter;
  }
}

.project {
  margin: 20px 0;
  padding: 20px 30px 15px 15px;
  border-left: 5px solid $blue;
  background-color: #fff;
}

.project__title {
  margin: 0;
}

.project__link {
  display: block;
  margin-bottom: 10px;
}

.project-image__wrapper--mobile {
  background-color: #43445B;
  border-radius: 50px;
  display: inline-block;
  padding: 70px 14px 90px;
  position: relative;
  margin: 0 auto;
  transform-origin: top left;

  &:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #525478;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.project-image__wrapper__image {
  display: block;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-next,
.slick-prev {
  z-index: 50;

  &::before {
    color: $green;
  }
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: $orange;
}

.slick-dots li button:before {
  color: $orange;
}

.carousel {
  margin-top: 20px;
}

.carousel img {
  height: auto;
  margin: 0 auto;
}

.slick-slider {
  margin-bottom: 50px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  border-top: 1px solid #e5e5e5;
}

// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: $screen-sm-min) {
  .container {
    width: 750px;
  }

  .slick-next,
  .slick-prev {
    width: 30px;
    height: 30px;

    &::before {
      font-size: 30px;
    }
  }
}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: $screen-md-min) {
  .container {
    width: 970px;
  }

  .slick-next,
  .slick-prev {
    width: 40px;
    height: 40px;

    &::before {
      color: $green;
      font-size: 40px;
    }
  }
}
